.sc-dash-widget {
	width: 430px;
}

.sc-dash-widget-content {
	min-height: 280px;
}

.sc-dash-widget-header {
	overflow: hidden;
}

.sc-switcher-widget {
	float: right;
	width: auto;
	height: auto;
	margin: 0;
}

.sc-dash-column {
	padding: 20px;
}

.sc-dash-widget-header-title {
	float: left;
}

#dash .sc-bigGrid-header {
	height: auto;
}

#dash .sc-bigGrid-body {
	min-height: 270px;
	height: auto !important;
	height: 270px;
}

#table-container {
	width: 804px;
	margin: 0 auto;
}