@import "common";

@collectionsItemWidth : 268px;
@collectionsItemHeight : 268px;
@sidebarWidth : 200px;
@collectionItemWidth : 232px;
@collectionItemHeight : 304px;
@fabricWidth : 150px;
@fabricHeight : 150px;

@paginatorItemWidth : 20px;
@paginatorItemHeight : 20px;

@smallImageWidth : 102px;
@smallImageHeight : 107px;

@imageBorderWidth : 9px;

@delimiterColor : #ae4e43;

ul.navigation {
	.oh;
	list-style:none;
	li {
		.fl;
	}
}
div.images-container {
	.oh;
	.center-block;
	position:relative;
	height:122px;
	width:920px;
}
ul.images {
	list-style:none;
	overflow-y:hidden;
	position:absolute;
	li {
		.fl;
		display:block;
		position:relative;
		margin-right:33px;
		em {
			background:url('../images/image-border.png') no-repeat;
			display:block;
			width:157px;
			height:122px;
			}
		img {
			position:absolute;
			top:10px;
			left:10px;
		}
		&.active {
			em {
				background-position:-190px 0;
			}
		}
	}
}
.profile-image {
	.oh;
	.fl;
	position:relative;
	margin-right:10px;
	em {
		display:block;
		}
	img {
		position:absolute;
		top:10px;
		left:10px;
		}
	&.big {
		em {
			background:url('../images/profile-image-border.png') no-repeat;
			width:159px;
			height:171px;
		}
		img {
			top:10px;
			left:8px;
		}
	}
	&.small {
		em {
			background:url('../images/profile-image-border-small.png') no-repeat;
			width : @smallImageWidth;
			height : @smallImageHeight;
		}
		 img {
			top:@imageBorderWidth;
			left:@imageBorderWidth;
		}
	}
}
.three-column-list {
	.oh;
	position:relative;
	li {
	    .one-third;
	    .fl;
		position:relative;
		div {
		    .oh;
			&.one {
				.fl;
			}
			&.two {
				margin: 0 auto;
			}
			&.three {
				.fr;
			}
		}
		&.clear {
			margin:0;
			padding:0;
			height:0;
			width:100%;
		}
	}
	.image {
		.oh;
		position:relative;
		em {
			display:block;
		}
		img {
			position:absolute;
		}
	}
}
.collections {
	.three-column-list;
	li {
		min-width:@collectionsItemWidth;
		margin-bottom:100px;
		div {
			width: @collectionsItemWidth;
			h1 {
				margin:5px 0 15px;
			}
			ul {
				li {
					display:inline;
					font-size:11px;
					border-left:1px solid @delimiterColor;
					margin:0;
					float:none;
					&:first-child {
						border:none;
					}
					a{
						margin:0 5px;
					}
				}
			}
		}
	}
	.image {
		em {
			width:@collectionsItemWidth;
			height:@collectionsItemHeight;
			background:transparent url('../images/collection-image-border.png') no-repeat;
		}
		img {
			top:@imageBorderWidth;
			left:@imageBorderWidth;
		}
	}
}
.left-sidebar-body {
	.oh;
	margin-left:40px + @sidebarWidth;
	hr {
		margin-top: 10px;
	}
}
.models {
    .three-column-list;
	margin-top:20px;
	li {
		min-width:@collectionItemWidth;
		margin-bottom:40px;
		text-align: center;
		div {
			width: @collectionItemWidth;
		}
	}
	.image {
		em {
		    width:@collectionItemWidth;
			height:@collectionItemHeight;
			background:transparent url('../images/model-image-border.png') no-repeat;
		}
		img {
			top:@imageBorderWidth;
			left:@imageBorderWidth;
		}
	}
}
.fabrics {
	margin-top:20px;
	li {
		.oh;
		margin-bottom:30px;
	}
	.image {
	    .three-column-list .image;
	    .fl;
		margin-right:20px;
		em {
		    width:@fabricWidth + 2 * @imageBorderWidth;
			height:@fabricHeight + 2 * @imageBorderWidth;
			background:transparent url('../images/fabric-border.png') no-repeat;
		}
		img {
			top:@imageBorderWidth;
			left:@imageBorderWidth;
		}
	}
}
.shape ul {
	font-family:Georgia, serif;
	font-size:13px;
	li {
		line-height:30px;
		padding-left:15px;
		background:url('../images/bullet.png') no-repeat 0 center;
		&.active a {
			color:#f48b79;
		}
	}
}
.shapes-container {
	padding-bottom:15px;
	}
.vcard {
	margin:13px 0;
}
.tel, .fn, .email, .adr {
	color:white;
	font-weight:bold;
}
/*** Blocks ***/
#bodywrapper {
	background:url('../images/lines-bg.png') repeat;
	position:absolute;
	min-height: 100%;
	left:0;
	top:0;
	bottom:0;
	right:0;
	
	}
#bodycontainer, #footer-wrapper {
	.center-block;
	width:84%;
	min-width:1010px;
	min-height: 100%;
	z-index:2;
	position:relative;
}
#logo {
	.hide-text;
	width:531px;
	height:369px;
	position:absolute;
	top:0;
	left:-50px;
	background:url('../images/logo_bg.png') no-repeat 0 0;
	z-index:1;
}
#header {
	.oh;
	padding-top:35px;
	background:url('../images/slogan.png') no-repeat right 47px;
	padding-right:252px;
}
#body {
	margin-top:65px;
}
#content {
	min-width:1050px;
}
#footer {
	overflow-y:hidden;
	height:46px;
	padding-top:54px;
	margin-top:-100px;
	}
	#footer-wrapper {
		overflow-y:hidden;
		border-top:1px solid #613e3e;
		padding-top:17px;
		}
	#footer-spacer {
		height:100px;
	}
#header ul.navigation {
	.fr;
	font-family:Georgia, Times New Roman, serif;
	font-size:18px;
	height:86px;
	background:url('../images/separator.png') no-repeat center right;
	padding-right:20px;
	li {
		margin:32px 15px;
		a {
			padding:1px 15px;
			line-height:27px;
		}
		&.active {
			background:url('../images/main-li-separator.png') no-repeat center left;
			a {
				background:url('../images/active-li-bg.png') repeat;
			}
		}
	}
}
#footer ul.navigation {
	li {
		border-right:1px solid #713e41;
		a {
			margin:0 15px;
		}
		&.last {
			border:none;
		}
	}
}
#catalog {
	.oh;
	position:relative;
	width:1000px;
	height:122px;
	margin:18px auto 67px auto;
	}
#aboutus-container {
	.oh;
	padding:10px 7px;
	}
#shapes {
	padding:0 7px;
}
#models {
	.fl;
	.one-third;
	padding-left:65px;
	background:url('../images/crap/girl.png') no-repeat center right;
	min-height:236px;
	ul {
		margin-right:150px;
	}
}
#materials {
	float:right;
	margin-right:65px;
	background:url('../images/crap/materials.png') no-repeat center right;
	min-height:201px;
	ul {
		margin-right:250px;
	}
}
#services {
	.oh;
	margin-top:65px;
	padding:0 7px;
	.wrap {
		padding-right:60px;
		margin-top:5px;
		p {
			.oh;
			padding-left:15px;
		}
	}
}
#copyright {
	margin-right:25px;
}
#sidebar {
	position:absolute;
	width:@sidebarWidth;
}
#thumbnailsContainer {
    .fl;
	margin-left:10px;
	margin-right:20px;
	overflow-x:hidden;
	overflow-y:auto;
	height:342px;
}
#thumbnails {
    width : @smallImageWidth + 22px;
	li {
		.oh;
		clear:both;
		margin-bottom:7px;
		width : @smallImageWidth;
		min-width: @smallImageWidth;
		div {
			width: 102px;
		}
	}
}
#model-nav {
    .oh;
    clear:both;
	position:relative;
	margin-top:50px;
	ul {
		li {
		    width:50%;
			display:block;
			&.prev {
				.fl;
				a {
				    @space : 7px;
					.fr;
					padding-right:@space;
					margin-right:@space;
					border-right:1px solid @delimiterColor;
				}
			}
			&.next {
				.fr;
			}
		}
	}
	p {
		position:absolute;
		margin:0;
	}
}
ul#paginator {
	.oh;
	li {
		.fl;
		width: @paginatorItemWidth;
		height: @paginatorItemHeight;
		margin: 0 4px;
		padding: 0;
		a {
		    .hide-text;
			display: block;
			width: @paginatorItemWidth;
			height: @paginatorItemHeight;
			background: transparent url('/images/pagination-bullet.png') no-repeat 4px center;
		}
		&.active a {
			background-position: right center;
		}
	}
}